<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('./partials/header') %>
    <title>Customer - Dashboard</title>
  </head>
  <body>
    <%- include('./partials/nav') %>

    <main class="mt-5 pt-3">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <h4>Dashboard</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 mb-3">
            <div class="card bg-primary text-white h-100">
              <div class="card-body">
                <p class="h4">Users</p>
                <p class="text-end mt-4 fs-5"><%= cusCount[0]['customer_count'] %></p>
              </div>
              <a href="" class="text-white">
                <div class="card-footer d-flex">
                  View Details
                  <span class="ms-auto">
                    <i class="bi bi-chevron-right"></i>
                  </span>
                </div>
                </a>
            </div>
          </div>
          <!-- Corrected HTML -->
<div class="col-md-3 mb-3">
  <div class="card bg-warning text-dark h-100">
    <div class="card-body">
      <p class="h4">Orders</p>
      <p class="text-end mt-4 fs-5">
        <%= orders[0]['COUNT(*)'] %>
      </p>
    </div>
    <a href="" class="text-dark">
      <div class="card-footer d-flex">
        View Details
        <span class="ms-auto">
          <i class="bi bi-chevron-right"></i>
        </span>
      </div>
    </a>
  </div>
</div>

<div class="col-md-3 mb-3">
  <div class="card bg-success text-white h-100">
    <div class="card-body">
      <p class="h4">Menu</p>
      <p class="text-end mt-4 fs-5"><%= menus[0]['menu_count'] %></p>
    </div>
    <a href="/admin/menu" class="text-white">
      <div class="card-footer d-flex">
        View Details
        <span class="ms-auto">
          <i class="bi bi-chevron-right"></i>
        </span>
      </div>
    </a>
  </div>
</div>

<div class="col-md-3 mb-3">
  <div class="card bg-danger text-white h-100">
    <div class="card-body">
      <p class="h4">Total Sales</p>
      <p class="text-end mt-4 fs-5"><%= totals[0]['total_sales'] %></p>
    </div>
    <a href="" class="text-white">
      <div class="card-footer d-flex">
        View Details
        <span class="ms-auto">
          <i class="bi bi-chevron-right"></i>
        </span>
      </div>
    </a>
  </div>
</div>

        </div>
        
        <div class="row">
          <div class="col-md-12 mb-3">
            <div class="card">
              <div class="card-header">
                <span><i class="bi bi-table me-2"></i></span> Customer Order Table
              </div>
              <div class="card-body">
                <div
                  class="table-responsive"
                >
                  <table
                    class="table data-table"
                  >
                    <thead>
                      <tr>
                        <th scope="col">Fullname</th>
                        <th scope="col">Gender</th>
                        <th scope="col">Birthdate</th>
                        <th scope="col">Email</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% customers.forEach(cus => { %>
                        <tr class="">
                          <td scope="row"><%= cus.fullname %></td>
                          <td><%= cus.gender %></td>
                          <td><%= cus.birthdate %></td>
                          <td><%= cus.email %></td>
                        </tr>
                      <% }) %>
                      
                      
                    </tbody>
                  </table>
                </div>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    
        <%- include('./partials/footer') %>

  </body>
</html>
